# **<p style="font-family:Inter, sans-serif;font-size:150%;text-align:center;color:#ff9900;">AMAZON SALES DATASET - 2023 EDA</p>**

<center>
    <img src="amazon-eda-image.png" alt="Amazon Sales EDA" width="700">
</center>

# **<p style="font-family:Inter, sans-serif;font-size:100%;text-align:center;color:#ff9900;">ABOUT AUTHOR</p>**

### ***Project: Amazon Sales Dataset 2023 EDA***

---

### ***Author: Syed Ahmad Rayyan***
***Young Data Science Aspirant and Kaggle Contributor***

**Contact:** [Email](mailto:rayyansyed369@gmail.com) | [LinkedIn](https://www.linkedin.com/in/syed-rayyan369) | [GitHub](https://github.com/RayyanDevZone) | [Kaggle](https://www.kaggle.com/syedahmadrayyan)

---

# **<p style="font-family:Inter, sans-serif;font-size:100%;text-align:center;color:#ff9900;">ABOUT DATA</p>**
### ***Title: Amazon Sales Dataset - 2023*** 
### ***Dataset:*** [link](https://www.kaggle.com/datasets/lokeshparab/amazon-products-dataset)

#### **<h1 align="center"><span style="color:#ff9900;">Dataset Columns Names</span>**  
### ***This dataset is having the data of 1K+ Amazon Products across 140+ categories, scraped from the official Amazon website in 2023. Each CSV file represents a specific product category (like Shoes, Shirts, Yoga, Western Wear, etc.), containing detailed information such as pricing, discounts, ratings, and product links.***

## ***Features***  

### ***name - The name or title of the product as listed on Amazon***  
### ***main_category - The main category under which the product falls (e.g., Fashion, Electronics, Sports, etc.)***  
### ***sub_category - The specific subcategory or niche of the product (e.g., Men's Shirts, Yoga Mats, Women's Shoes, etc.)***  
### ***image - The direct image link showing how the product looks***  
### ***link - The official Amazon product page URL***  
### ***ratings - The average customer rating (out of 5) given by verified buyers***  
### ***no_of_ratings - The total number of ratings or votes received for the product***  
### ***discount_price - The current discounted selling price of the product***  
### ***actual_price - The original MRP (before discount) of the product***  
### ***source_file - The CSV file name or category source from which this product data was extracted (added during merging for traceability)***

#### **<h1 align="center"><span style="color:#ff9900;">Task</span>**
### ***Exploring the Amazon Sales Dataset - 2023 involves a step-by-step process. First,we join the dataset as its fragmented based on categories, then we clean and prepare the data to ensure it's accurate and consistent. Then, we summarize the data using descriptive statistics like averages and ranges. Next, we visualize the data with charts and graphs to see patterns and relationships. We detect outliers, which are unusual data points, and test our assumptions about the data. We divide the data into groups for better understanding and finally, we summarize our findings and answers some business questions.***

#### **<h1 align="center"><span style="font-family:Inter , sans-serif;color:#ff9900;">Objectives</span>**  
### ***The primary objective of analyzing the Amazon 2023 Product Sales Dataset is to explore category-wise pricing, discount patterns, and customer rating behavior to uncover what drives consumer engagement and purchasing decisions.***  
### ***Understand how discounts, actual prices, and customer ratings interact across 140+ product categories to reveal trends that shape consumer trust and buying habits.***  
### ***Identify top-performing categories based on customer feedback, pricing competitiveness, and product value perception.***  
### ***Translate these insights into actionable recommendations that can guide sellers, marketers, and businesses to optimize product positioning and pricing strategies.***  
### ***Equip e-commerce professionals with data-driven understanding to enhance customer satisfaction and improve conversion rates.***  
### ***Enable better inventory and promotional planning by highlighting categories with high engagement but low conversion potential.***

#### **<h1 align="center"><span style="font-family:Inter , sans-serif;color:#ff9900;">Kernel Version Used</span>**
- ***Python 3.12.0***

# <p style="font-family:Inter , sans-serif;font-size:150%;text-align:center;color:#ff9900;">Import Libraries</p>
### ***We will use the following libraries***
### ***1. Pandas: Data manipulation and analysis***
### ***2. Numpy: Numerical operations and calculations***
### ***3. Matplotlib: Data visualization and plotting***
### ***4. Seaborn: Enhanced data visualization and statistical graphics***
### ***5. Scipy: Scientific computing and advanced mathematical operations***
### ***6. Glob:  is used to efficiently find all file paths (.csv) in a directory using a pattern, so we don't have to manually list all 140 file names.***
### ***7. os: is used to handle file paths in a way that works consistently across different operating systems.***

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import glob
import os

# <p style="font-family:Inter, sans-serif;font-size:150%;text-align:center;color:#ff9900;">Data Loading and Exploration | Cleaning</p>

### ***As there are 140 files in the folder, we will use glob to read them all in a loop***

In [30]:
path = 'dataset' 
all_files = glob.glob(os.path.join(path, "*.csv"))
print(f"Found {len(all_files)} files.")
print(all_files[:5])

Found 140 files.
['dataset\\Air Conditioners.csv', 'dataset\\All Appliances.csv', 'dataset\\All Books.csv', 'dataset\\All Car and Motorbike Products.csv', 'dataset\\All Electronics.csv']

### Looping through all files from the folder and reading it using dataframe and appending into one single Dataframe

In [31]:

df_list = []


for file in all_files:
    try:
        df_internal = pd.read_csv(file)
        df_list.append(df_internal)

    except Exception as e:
        print(f"Error reading {file}: {e}")

df = pd.concat(df_list, ignore_index=True)

#### **<h1 align="center"><span style="color:#ff9900;">Get a sneak peek of data</span>**
### ***The purpose of a sneak peek is to get a quick overview of the data and identify any potential problems or areas of interest.***

In [32]:

df.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')

df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

#### **<h1 align="center"><span style="color:#ff9900;">Column Names of the Dataset</span>**

In [33]:
df.columns

Index(['name', 'main_category', 'sub_category', 'image', 'link', 'ratings',
       'no_of_ratings', 'discount_price', 'actual_price'],
      dtype='object')

#### **<h1 align="center"><span style="color:#ff9900;">Rows and Columns</span>**
### ***Lets see how many total rows and columns the dataset now have after joining all the 140 files***

In [34]:
print(f"The Number of Rows are {df.shape[0]}, and columns are {df.shape[1]}.")

The Number of Rows are 1103170, and columns are 9.

#### **<h1 align="center"><span style="color:#ff9900;">Datatypes</span>**
### ***Lets check the datatypes of the columns using .info function***

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103170 entries, 0 to 1103169
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   name            1103170 non-null  object
 1   main_category   1103170 non-null  object
 2   sub_category    1103170 non-null  object
 3   image           1103170 non-null  object
 4   link            1103170 non-null  object
 5   ratings         751582 non-null   object
 6   no_of_ratings   751582 non-null   object
 7   discount_price  980844 non-null   object
 8   actual_price    1067544 non-null  object
dtypes: object(9)
memory usage: 75.7+ MB

In [36]:
df.isnull().sum()

name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings           351588
no_of_ratings     351588
discount_price    122326
actual_price       35626
dtype: int64

### ***We can clearly see that we have lot of null values in the Column : ratings,no_of_ratings_discount_price,actual_price***

#### **<h1 align="center"><span style="color:#ff9900;">Changing Datatypes of Columns</span>**
### ***Lets remove the symbols and commas from the price columns and also change their datatype after that***

In [37]:
df['discount_price'] = df['discount_price'].str.replace('₹', '')
df['discount_price'] = df['discount_price'].str.replace(',', '')
df['discount_price'] = df['discount_price'].astype(float)

In [38]:
df['actual_price'] = df['actual_price'].str.replace('₹', '')
df['actual_price'] = df['actual_price'].str.replace(',', '')
df['actual_price'] = df['actual_price'].astype(float)

In [39]:
df.head(5)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255",32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948",46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206",34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0

#### **<h1 align="center"><span style="color:#ff9900;">Creating Discount Percent Column</span>**
### ***Now we will create discount_percent column but in decimal values to avoid future inconvinience***

In [41]:
df['Discount_Percent'] = pd.Series(
    np.where(
        (df['actual_price'].notna()) & (df['discount_price'].notna()) & (df['actual_price'] > 0),
        (df['actual_price'] - df['discount_price']) / df['actual_price'],
        np.nan
    )

).clip(lower=0, upper=1)

In [42]:
df.head(5)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Discount_Percent
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255",32999.0,58990.0,0.440600
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948",46490.0,75990.0,0.388209
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206",34490.0,61990.0,0.443620
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,0.449340
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,0.491223